.cost {
  &__table {
    overflow-x: auto;
    padding-bottom: 4px;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      width: 10px;
      height: 10px;
      border-radius: 15px;
      background-color: #DBDFE9;
    }
  }

  &__column {
    padding: 13px 20px;
    font-size: 13px;
    font-weight: 500;
    min-width: 150px;
    white-space: nowrap;

    &--line {
      @extend .cost__column;
      min-width: 80px;
    }
    
    &--activity {
      @extend .cost__column;
      min-width: 350px;
    }
    
    &--tax {
      @extend .cost__column;
      min-width: 350px;
    }
    
    &--cost {
      @extend .cost__column;
      min-width: 400px;
    }

    &--wht-type {
      @extend .cost__column;
      min-width: 250px;
    }

    &--wht-code {
      @extend .cost__column;
      min-width: 400px;
    }
  }

  &__items {
    td {
      padding: 16px 20px;
      font-size: 13px;
    }
  }
}