.calculation {
  &__last-field {
    background-color: #ccfbf1;
    color: #0f766e;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    @apply font-bold;
    @apply text-sm;
  }
}
