.document {
  overflow-y: auto;
  margin-right: 18px;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    background-color: #DBDFE9;
  }
}