.po {
  &__table {
    overflow-x: auto;
    padding-bottom: 4px;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      width: 10px;
      height: 10px;
      border-radius: 15px;
      background-color: #DBDFE9;
    }
  }

  &__column {
    padding: 13px 20px;
    font-size: 13px;
    font-weight: 500;
    min-width: 150px;
    white-space: nowrap;

    &--line {
      @extend .po__column;
      min-width: 80px;
    }
  }

  &__items {
    td {
      padding: 16px 20px;
      font-size: 13px;
    }
  }
}