:deep() {
  .timeline {
    &__table {
      padding-bottom: 4px;
      overflow-x: auto;
  
      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background: transparent;
      }
      
      &::-webkit-scrollbar-thumb {
        width: 10px;
        height: 10px;
        border-radius: 15px;
        background-color: #DBDFE9;
      }
    }
  
    &__field-base {
      min-width: 130px;
      white-space: nowrap;
      @apply py-[13px] !important;
      
      &--action {
        @extend .timeline__field-base;
        min-width: 80px;
      }
      
      &--description {
        @extend .timeline__field-base;
        min-width: 200px;
      }
    }
  }
}