.pending {
  &__table {
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      width: 10px;
      height: 10px;
      border-radius: 15px;
      background-color: #dbdfe9;
    }
  }

  &__column {
    background-color: #ccfbf1; /* bg-teal-100 */
    border-bottom: 1px solid #14b8a6; /* border-b-teal-500 */
    color: #14b8a6; /* text-teal-500 */
    min-width: 150px;
    padding: 17px 20px !important;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
  }
}
