:deep() {
  .nego {
    &__table {
      padding-bottom: 4px;
      overflow-x: auto;
  
      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background: transparent;
      }
      
      &::-webkit-scrollbar-thumb {
        width: 10px;
        height: 10px;
        border-radius: 15px;
        background-color: #DBDFE9;
      }
    }
  
    &__field-base {
      min-width: 130px;
      white-space: nowrap;
      @apply py-[13px] !important;
      
      &--vendor-name {
        @extend .nego__field-base;
        min-width: 250px;
      }
    }
  }
}