@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './metronic/vendors/keenicons/duotone/style.css';
@import './metronic/vendors/keenicons/filled/style.css';
@import './metronic/vendors/keenicons/solid/style.css';
@import './metronic/vendors/keenicons/outline/style.css';

@import './metronic/css/styles.css';

#app {
  display: contents;
}
