:deep() {
  .info {
    &__header {
      @apply text-gray-700 !important;

      &:hover {
        color: white !important;
      }
    }
  }

  .calculation {
    &__last-field {
      background-color: #EFF6FF;
      color: #006AE6;
      @apply font-bold;
    }
  }
}