:deep() {
  .calculation {
    &__last-field {
      background-color: #ccfbf1;
      color: #0f766e;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
      @apply font-bold;
    }
  }

  .invoice {
    &__table {
      overflow-x: scroll;
      padding-bottom: 4px;

      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        width: 10px;
        height: 10px;
        border-radius: 15px;
        background-color: #dbdfe9;
      }
    }

    &__field-base {
      min-width: 150px;
      white-space: nowrap;
      @apply px-[20px] !important;
      @apply py-[13px] !important;

      &--line {
        @extend .invoice__field-base;
        min-width: 80px;
      }

      &--item-amount {
        @extend .invoice__field-base;
        min-width: 200px;
      }

      &--activity {
        @extend .invoice__field-base;
        min-width: 350px;
      }

      &--tax {
        @extend .invoice__field-base;
        min-width: 350px;
      }

      &--cost {
        @extend .invoice__field-base;
        min-width: 400px;
      }

      &--wht-type {
        @extend .invoice__field-base;
        min-width: 250px;
      }

      &--wht-code {
        @extend .invoice__field-base;
        min-width: 400px;
      }
    }

    &__field-items {
      td {
        @apply px-[16px] !important;
        @apply py-[7px] !important;
      }
    }
  }

  .table-head {
    padding: 13px 8px !important;
    min-width: 130px;
  }
}
