name: Build, Push and Deploy Frontend

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
           --build-arg VITE_API_BASE_URL=https://account-api.codeverse.id/api \
           --build-arg VITE_API_GENERAL_BASE_URL=https://api.codeverse.id/api \
           --build-arg VITE_API_VENDOR_BASE_URL=https://vendor-api.codeverse.id/api \
           --build-arg VITE_API_INVOICE_BASE_URL=https://invoice-api.codeverse.id/api \
           docker build -t ${{ secrets.DOCKER_USERNAME }}/eprocurement-frontend:latest .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/eprocurement-frontend:latest

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/datasea/eprocurement/config
            docker compose -f docker-compose.multi-repo.yml pull frontend
            docker compose -f docker-compose.multi-repo.yml up -d frontend
